@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eaf2e3;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }

.parrafo {text-align: center;
    font-weight: bold;
    font-style: italic;
}

.seccion { /*estos parametros afectan a los 2 parrafos*/
    margin: 0;
    text-indent: 30px;
    text-align: center;
}

header {
    background-color: #EE783A;
    color: #fff;
    text-align: center;
    position: relative;
    border-top: 1px solid #EE783A;
    width: 100%;
    margin: 0;
    }
    section {
    padding: 20px; /* espaciado para la sección de 20 pixeles */
    background-color: rgb(248, 220, 225);
    }
    footer {
    background-color: #174E87; /* Color de fondo del footer */
    color: #fff;
    border-top: 3px solid #042c57;
    }
        
    nav {
        width: 100%;
        position: absolute;
        bottom: 0;
        margin-top: 60px;
        background-color: #174E87;
        padding:10px;
        border-top: 3px solid #042c57;
        border-bottom: 3px solid #042c57;
        }
        nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        }
        nav ul li {
        display: inline-block;
        margin-right: 20px;
        }
        nav ul li a {
        color: #fff;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 5px;
        }
        nav ul li a:hover {
        background-color: #042c57;
        }
        /* Estilos para las imágenes */
img {
    margin: 0 auto; /* Centrar las imágenes horizontalmente */
    max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
    border: 3px solid #69bd45; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
    border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
    }
.logo {
    object-fit: contain;
    height: 250px;
    width: 250px;
    border: none;
    margin-top: 20px;
    padding-bottom: 50px;
}

h1 {
    margin-top: 25px;
    text-transform: uppercase;
    color: black;
}

.kame-house {
    margin-top: 30px;
    display: flex;
    height: 300px;
    max-width: 350px;
    object-fit: cover;
    border: none;
    border-radius: 10px;
}

.pie-pagina {
    width: 100%;
    background-color: #174E87;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #042c57;
    text-align: center;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}

.pie-pagina .grupo-2{
    background-color: #EE783A;
    border-top: 3px solid #042c57;
    padding: 15px 10px;
    text-align: center;
    color: black;
}

.pie-pagina .grupo-2 small{
    font-size: 13px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}